*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
}


/* common */

a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

h2{
    margin: 20px 0px;
}
h6{
    margin: 10px 0px;
    font-size: 20px;
}

p{
    color: grey;
}

/* header */

header{
    position: relative;
}

header nav{
    height: 50px;
    display: flex;
    padding: 5px 20px;
    position: fixed;
    z-index: 2;
    width: 100%;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn{
    padding: 1px 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

/* Main */

main{
    display:flex;
    height: calc(100vh - 80px);
    width: 100%;
}

.container_album{
    width: calc(100% - 150px);
    overflow-y: auto;
    flex: wrap;
    padding-top: 70px;
    color: white;
}

.container_album ul{
    display: flex;
    justify-content: center;
    list-style: none;
}


.albums{
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    width: calc((100% / 6) - 20px);
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
    margin: 10px;
}

.card img{
    width: 100%;
}

.circle{
    border-radius: 50%;
}


.container_album nav ul li{
    display: inline-block;
    padding: 10px 10px;
}


/* sidebar */

.side_bar{
    width: 150px;
    background-color: black;
    flex-shrink: 2;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    z-index: 3;

}
.side_bar img{
    padding-bottom: 30px;
}

.side_bar_mid{
    flex-grow: 2;
    overflow-y: auto;

}

.fa-home{
    color: white;
}

ul li{
    padding-bottom: 10px;
}

ul li i{
    color: grey;
    padding-bottom: 10px;
    font-size: small;
}

#white_i{
    color: white;
}

.footer_side_nav > i{
    color: grey;
}

i.fas.fa-user-circle{
    color: white;
}


/* footer */

footer{
    background-color: #282828;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sinister_small{
    height: 40px;
    width: 40px;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
}

.sinister_small img{
    width: 100%;

}

footer i{
    padding: 5px;
    color: white;
}

.footer_left i {
    color: grey;
}


.footer_middle i:nth-child(3) {
    font-size: 30px;

}

/* @media screen and (max-width: 1100px){
    .card{
        width: calc(100% / 5 );
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px){
    .card{
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 600px){
    .side_bar{

    }
    .side_bar_mid{
        display: none;
    }
} */