*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
}


/* common */

a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

h2{
    margin: 20px 0px;
}
h6{
    margin: 10px 0px;
    font-size: 20px;
}

h5{
    color: white;
    
}

p{
    color: grey;
}

/* header */

header{
    position: relative;
}

header nav{
    height: 50px;
    display: flex;
    padding: 5px 20px;
    position: fixed;
    z-index: 2;
    width: 100%;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn{
    padding: 1px 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.btn:hover{
    transform: scale(1.1, 1.1);
}

/* Main */

main{
    display:flex;
    height: calc(100vh - 80px);
    width: 100%;
}

.container_album{
    width: calc(100% - 150px);
    overflow-y: auto;
    flex: wrap;
    padding-top: 70px;
    color: white;
}

.container_album ul{
    display: flex;
    justify-content: center;
    list-style: none;
}


.albums{
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    width: calc(100% / 6);
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    position: relative;
}

.card img{
    width: 100%;
}

.circle{
    border-radius: 50%;
}


.container_album nav ul li{
    display: inline-block;
    padding: 10px 10px;
}

.container_album nav ul li:first-child::after{
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    margin: 2px auto;
    background-color: greenyellow;
}

.img_card{
    position: relative;
}
.img_card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);


}

.container_album nav ul li a:hover{
    color: white;
}

/* sidebar */

.side_bar{
    width: 150px;
    background-color: black;
    flex-shrink: 2;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    z-index: 3;

}
.side_bar img{
    padding-bottom: 30px;
}

.side_bar_mid{
    flex-grow: 2;
    overflow-y: auto;

}
.logo_hidden{
    display: none;
    width: 20px;
}

.firstwhite{
    color: white;
}

.fa-home{
    color: white;
}

ul li{
    padding-bottom: 10px;
}

ul li i{
    color: grey;
    padding-bottom: 10px;
    font-size: small;
    padding-right: 5px;
}

#white_i{
    color: white;
}


.footer_side_nav > i{
    color: grey;
}

.white{
    color: white;
}

i.fas.fa-user-circle{
    color: white;
}

.line_block{
    width: 100%;
    border: 1px solid grey;
    margin: 5px 0px;
}

.side_bar ul li a:hover{
    color: white;
}

.side_bar_mid ul li a i:hover{
    color: white;
}

.footer_side_nav a span:hover{
    color: white;
}


/* footer */

footer{
    background-color: #282828;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer_left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinister_small{
    height: 40px;
    width: 40px;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
}

.sinister_small img{
    width: 100%;

}

footer i{
    padding: 5px;
    color: white;
}

.footer_left i {
    color: grey;
}


.footer_middle a:nth-child(3) {
    font-size: 25px;

}

.song_name{
    padding: 0px 10px;

}

.fa-play-circle:hover{
    transform: scale(1.5, 1.5);
    
}

.song_name a p:hover{
    color: white;
}

.footer_left a i:hover{
    color: white;
}



/* mediaquery */


 @media screen and (max-width: 1100px){
      .card{
        width: calc(100% / 4 );
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px){
    .card{
        width: calc(100% / 2);

    }
}

@media screen and (max-width: 600px){
    .side_bar img{
        padding: 0;
    }
    ul li{
        padding-bottom: 0px;
    }
    ul li i{
        padding-bottom: 0px;
    }
    .side_bar_mid ul{
        display: none;
    }
    .no_600{
        display: none;
    }
    .logo_show{
        display: none;
    }
    .logo_hidden{
        display: block;
    }

}